.yandex-logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: auto;
}

.georeference-btn {
  position: absolute;
  top: 50px;
  right: 0px;
}

.fullscreen:-webkit-full-screen {
  height: 100%;
  margin: 0;
}

.fullscreen:fullscreen {
  height: 100%;
}

.gis-container {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

.map-wrapper {
  position: relative;
  flex-grow: 1;
  height: 100%;
  display: flex;
}
